<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <!--here add hospital email,mobile address and a button to meet the
        team and reming me to add that in backend-->
        <footer>
            <p>Hospital Address: 123 Elm Street</p>
            <p>Phone: +91-9876543210</p>
            <a href="/meet-the-team">Meet the Team</a>//add a html file maybe inhref
        </footer>
    </footer>
    
</body>
</html>