<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER NAV BAR WITH logout</title>
</head>
<body>
    <!--also everywhere hms logo and name will be displayed if you don't
    want to do repetative add it here so that you won't have to repeat-->
    <header>
        <nav>
            <!--make this button visible on the right side-->
            <form action="/logout" method="get">
                <button type="submit">Logout</button>
            </form>
          
        </nav>
    </header>
    
</body>
</html>