<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Added</title>
</head>
<body>
    <h1>User Successfully Added!</h1>

    <!-- Go Back to Dashboard -->
    <form action="/admin/dashboard" method="post">
        <input type="hidden" name="admindata" value='<%= JSON.stringify(admindata) %>'>
        <button type="submit">Go Back to Dashboard</button>
    </form>

</body>
</html>
